---

- include: install.deb.yml
  when: ansible_os_family == 'Debian'

- include: install.red.yml
  when: ansible_os_family == 'RedHat'

- name: Ensure that Nginx user is exist
  user: name={{nginx_user}} system=yes

- name: Delete default site
  action: file path={{nginx_default_site}} state=absent
  when: nginx_delete_default_site
  notify: nginx restart

- name: Encrypt http auth passwords
  htpasswd: path={{nginx_auth_file}} name={{item.name}} password={{item.password}}
  with_items: "{{nginx_auth_users}}"

- name: Configure nginx
  template: src=nginx.conf.j2 dest={{nginx_dir}}/nginx.conf
  notify: nginx restart

- name: Ensure the sites directory is exists
  file: name={{nginx_sites_dir}} state=directory

- name: Ensure that nginx is started
  service: name={{nginx_service_name}} state=started enabled=yes
